<div class="static">
  <ol class="ordered-list">
    <li>Общее количество просмотров видео-контента за все время
      <ul class="unordered-list">
        <li class="list-item">Стрима: <span>{{ channel.qty }} просмотров</span></li>
        <li class="list-item">Видео: <span>{{ video.qty }} просмотров</span></li>
      </ul>
    </li>
    <li class="list-item">Среднее количество просмотров видео-контента за все время (всего просмотров / количество (стримеров, видео))
      <ul class="unordered-list">
        <li class="list-item">Стрима: <span>{{ (channel.qty / channel.count).toFixed(0) }} просмотров</span></li>
        <li class="list-item">Видео: <span>{{ (video.qty / channel.count).toFixed(0) }} просмотров</span></li>
      </ul>
    </li>
  </ol>
</div>
