
  <ul>
    <li>
      <button class="value" mat-raised-button="primary" (click)="deleteContent('chat')">Удалить текстовый контент</button>
      (удаляет из базы все сообщения пользователя в чатах)
    </li>
    <li>
      <button class="value" mat-raised-button="primary" (click)="deleteContent('video')">Удалить видео контент</button>
      (Удаляет все видео ролики из базы, загруженные пользователем)
    </li>
    <li>
      <button class="value" mat-raised-button="primary" (click)="deleteContent('channel')">Удалить канал</button>
      (Удаляется страница канала, договор аннулируется)
    </li>
    <li>
      <button class="value" mat-raised-button="primary" (click)="deleteContent('account')">Удалить аккаунт</button>
      (Удаляет из базы всю информацию, включая регистрационные данные из базы)
    </li>
  </ul>

